
<div class="container">
	<div class="jumbotron text-center">
<h1>Log In</h1>



<%= form_for :user do |f| %>
	<%= f.email_field :email, placeholder: "Email", :autofocus=> true, class: "form-control"%>
	<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
	<%= f.submit "Log In", class: "btn btn-info"%>
<% end %>

</div>

<a href="/passwords/new" class="btn btn-primary">Forgot Password?</a>

</div>
