
<h1>Log In</h1>



<%= form_for :user do |f| %>
	<p>Email:
	<%= f.email_field :email, placeholder: "email" %></p><br>
	<%= f.password_field :password, placeholder: "password" %>
	<%= f.submit "Log In"%>
<% end %>

<button><a href="/users/new">Sign Up</a></button>
<button><a href="/">Home</a></button>



