
<h1>Log In</h1>



<%= form_for :user do |f| %>
	<p>Email:
	<%= f.email_field :email, placeholder: "email", :autofocus=> true%></p><br>
	<%= f.password_field :password, placeholder: "password" %>
	<%= f.submit "Log In"%>
<% end %>

<a href="/users/new" class="btn btn-primary">Sign Up</a>
<a href="/" class="btn btn-primary">Home</a>

<a href="/passwords/new" class="btn btn-primary">Forgot Password?</a>


