<div class="container">

	<button><a href="users/new">Create New User</a></button>


	<% @users.each do |user| %>

			<p>Title:
			<%= user.posts.map(&:title).join(", ") %></p>
			<p>User:
			<%= user.first_name %></p><br>


	<% end %>




</div>