<div class="container">
	
	<h1>Welcome to Micro Blog</h1>
	<button><a href="users/new">Create New User</a></button>


	<% @users.each do |user| %>

			<p>Title:
				<a href="/users/<%= user.id%>/posts"><%= user.posts.map(&:title).join(", ") %></a>
			</p>
			<p>User:
				<a href="/users/<%= user.id %>"><%= user.first_name %></a>
			</p><br>


	<% end %>




</div>