

<div class="container">

	<div class="jumbotron">
		<h2>Posts</h2>

		<p><%= @user.image_url%></p>
		<h3><%= @user.first_name %></h3>
		<p><%= @user.last_name %></p>
		<p><%= @user.email%></p>

	</div>




</div>