
<div class="container">

<div class="jumbotron">

	<% if @posts != nil %>
	<% @posts.each do |post| %>
		<h3><a href="/users/<%= @user.id %>/posts/<%= post.id %>"> <%= post.title %> </a></h3><br>
		<% end %>
	<% end %>

	<a href="/users/<%= @user.id %>/posts/new" class="btn btn-primary">New Post</a>
	<a href="/" class="btn btn-primary">Home</a>

</div>
</div>  <!-- container close -->

