<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<div class="container">

	<h1>Create a New Post</h1>

	<div class="row">

		<%=form_for @posts do |f| %>
			<p>Title:
				<%=f.text_field :title, placeholder: "Title" %> 
			</p><br>
			<p>
				<%=f.text_area :body, placeholder: "Description"%> 
			</p></br>
				<%=f.submit "Save"%>
		<% end%>

</div>
</div>