<div class="container">

	<h1>Posts#show</h1>
	<p>Find me in app/views/posts/show.html.erb</p>

	

	<h1><%= @posts.title %></h1>
	<p><%= @posts.body %></p>


	<h2>Comments: (WILL GO UNDER HERE)</h2>


<a href="/" class="btn btn-primary">Home</a>
<a href="/users/<%= @user.id %>/posts" class="btn btn-primary">Back to All Posts</a>

</div>  <!-- container close -->