// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background{
	background: url(http://blog.petspyjamas.com/uploads/2014/02/puppy-dog-eyes.jpg) no-repeat center center fixed;
	height: 600px;
	background-size: cover;
}

